:root {
  --gray-color: #888;
  --red-color: #f44336;
  --green-color: #22c55e;
  --orang-color: #f59e0b;
  --bloue-color: #0075ff;
  --bloue-color-alt: #0d69d5;
}
/*start box*/
.d-flex {
  display: flex;
}
.grow-1{
  flex-grow: 1;
}
.grow-2{
  flex-grow: 2;
}
.f-1{
  flex: 1;
}
.f-wrap{
  flex-wrap: wrap;
}
.space-between{
  justify-content: space-between;
}
.justify-content-c{
  justify-content: center;
}
.d-grid{
  display: grid;
}
.gap-2{
  gap: 2px;
}
.gap-5{
  gap: 5px;
}
.gap-20{
  gap: 20px;
}
.d-block{
  display: block;
}
.align-center{
  align-items: center;
}
.oh{
  overflow: hidden;
}
.w-full{
  width: 100%;
}
@media(max-width:767px){
  .block-mobile{
    display: block;
  }
}
/*end box*/
/*start pading + margin*/
.p-5{
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-25{
  padding-bottom: 25px;
}
.pb-30{
  padding-bottom: 30px;
}
.pl-15{
  padding-left: 15px;
}
.mlr-auto{
  margin: 0px auto;
}
.m-0{
  margin: 0;
}
.m-15{
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30{
  margin-top: 40px;
} 
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mb-0{
  margin-bottom: 0;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}
.ml-10{
  margin-left: 10px;
}
/*end pading + margin*/
/*start color*/
.bg-white{
  background-color: white;
}
.bg-eee{
  background-color: #eee;
}
.bg-blue{
  background-color: var(--bloue-color);
}
.bg-gray{
  background-color: var(--gray-color);
}
.bg-red{
  background-color: var(--red-color);
}
.bg-green{
  background-color: var(--green-color);
}
.bg-orange{
  background-color: var(--orang-color);
}
.c-black{
  color: black;
}
.c-gray{
  color: var(--gray-color);
}
.c-white{
  color: white;
}
.c-blue{
  color: var(--bloue-color);
}
.c-orange{
  color: var(--orang-color);
}
.c-green{
  color: var(--green-color);
}
.c-red{
  color: var(--red-color);
}
.blue {
  background-color: #cce3ff;
}

.orange {
  background-color: #fdecce;
}
.green {
  background-color: #d3f3df;
}
.red{
  background-color: #fdd9d7;
}
/*end color*/
/*posation*/
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
/*posatino*/
/*start font*/
.fw-bold{
  font-weight: bold;
}
.txt-c{
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-35{
  font-size: 35px;
}
.w-fit{
  width: fit-content;
}
.l-hight{
  line-height: 1.6;
}
.h-full{
  height: 100%;
}
.font-normal{
  font-weight: normal;
}
.fw-500{
  font-weight: 500;
}
.lh-1-6{
  line-height: 1.6;
}
.h-100{
  height: 100px;
}
.w-100{
  width: 100px;
}
/*end font*/
/*start border*/
.rad-6{
  border-radius: 6px;
}
.rad-10{
  border-radius: 10px;
}
.b-none{
  border: none;
}
.rad-half{
  border-radius: 50%;
}
@media(max-width:767px){
.txt-c-mobile{
  text-align: center;
}
}
/*end border*/
/* start media*/
@media (max-width:767px) {
  .hide-mobile {
    display: none;
  }
  .fd-co{
    flex-direction: column;
  }
  .f-center{
    justify-content: center;
  }
}
/*end media*/
/*start component*/
.between-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape{
  padding: 5px 10px;
}
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-shape {
  padding: 5px 10px;
  border-radius: 6px;
}
.border-ccc{
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
.border-b-eee{
  border-bottom: 1px solid #eee;
}
.cursor-poiter{
  cursor: pointer;
}
.overflow-h{
  overflow: hidden;
}
/*end component*/
/*start transition*/
.t-03{
  transition: 0.3s;
}
/*end transition*/